* {
    margin: 0;
    padding: 0;
}

.cabecalho {
	padding: 100px 50px;
	background-color: #FF6347;
}

.titulo {
	font-size: 30px;
	margin: 80px 50px;
}

.lista {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.rodape {
	padding: 150px 0;
	background-color: #FF4500;
}